<% provide(:title, 'Home') %>

<% if self.current_user.nil? %>
	<div class="center hero-unit">
	    <h1>Midnight</h1>
	    <p>
	      Social networking for the night owl.
	    </p>
	  <%= link_to "Register", register_path, class: "btn btn-large btn-primary" %>
	</div>
<% else %>
    	<div class="center hero-unit">
	    <h1>Midnight</h1>
	    <p>
		<%= render 'microposts/form' %>
		<br>
	    </p>
	    <hr>

		    <h3>Posts</h3>
		    <% @microposts.each do |p| %>
			<p class="microposts"><span class="time"><%= p.created_at %></span> -- <span class="time"><a href="users/<%= p.user_id %>"><%= p.username %></a></span>
                        <br>
                        <span class="micro_content"><%= p.content %></span></p>
		    <% end %>

	</div>
<% end %>
