<h1>Listing users</h1>

<table class="users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Description</th>
      <th>Friend Status</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><a href="users/<%= user.id %>"><%= user.name %></a></td>
        <td><%= user.email %></td>
        <td><%= user.description %></td>
        <% if user != self.current_user %>
          <% if @friends.include?([user.id, true].to_s) ||
                @friends.include?([self.current_user.id, true].to_s) %>
            <td><%= link_to "Friends With You", "/users/#{user.id}" %></td>
          <% else %>
            <% if @friends.include?([user.id, false].to_s) ||
                  @friends.include?([self.current_user.id, false].to_s) %>
              <td><%= link_to "Friend Request Sent", "/friend/#{user.id}" %></td>
            <% else %>
              <td><%= link_to "Friend This Person?", "/friend/#{user.id}" %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
