<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div>
  <h3>Details</h3>
    <p><strong>Description:</strong><br>
       <%= @user.description %>
    </p>
    <p><strong>Interests:</strong><br>
       <%= @user.interests %>
    </p>
    <p><strong>Quotes:</strong><br>
       <%= @user.quotes %>
    </p>
    <h3>Posts</h3>
    <% @posts.each do |p| %>
        <p class="microposts"><%= p.created_at %> -- <%= p.content %></p>
    <% end %>
</div>
